@import "../mixins.scss";
.askAnswer {
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s;
  @include flex($aItems: center, $jContent: center);
  @media screen and (max-width: 1430px) {
    display: none;
  }
  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  &__content {
    padding: 0 228px;
    @include flex($gap: 214px);
  }
  &__leftSide {
    flex: 50%;
    padding-top: 16px;
    @include flex($fDirection: column, $gap: 48px);
  }
  &__textContainer {
    @include flex($fDirection: column, $gap: 24px);
    & > h2 {
      color: #222;
      font-family: Rubik;
      font-size: 40px;

      font-weight: 500;
    }
    & > p {
      color: #717171;
      font-family: Karla;
      font-size: 20px;

      font-weight: 400;
      line-height: 24px;
    }
  }
  &__item {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background: linear-gradient(207deg, #fbfbfb 2.8%, #fff 89.69%);
    @include boxShadow(-2px 20px 25px rgba(59, 179, 231, 0.1));
    @include flex($aItems: center, $jContent: center);
  }
  &__rightSide {
    flex: 50%;
    @include flex($fDirection: column, $gap: 40px);
  }
  &__arrow {
    transition: all 0.6s;
  }
  &__dropDownContainer {
    @include flex($fDirection: column, $gap: 16px);
    &__active {
      .askAnswer__dropDownContent {
        opacity: 1;
        visibility: visible;
        max-height: 66px;
      }
      .askAnswer__arrow {
        transform: rotate(180deg);
      }
    }
  }
  &__title {
    cursor: pointer;
    border-bottom: 0.5px #dfdfdf solid;
    padding-bottom: 20px;
    @include flex($jContent: space-between);
    & > h3 {
      color: #222;

      font-family: Karla;
      font-size: 20px;

      font-weight: 400;
    }
  }
  &__dropDownContent {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.6s;
    & > p {
      color: #717171;
      font-family: Karla;
      font-size: 16px;

      line-height: 22px;
    }
  }
}
