@import "../mixins.scss";

.featuredListings {
  height: 100vh;
  transition: all 0.6s;
  opacity: 1;
  visibility: visible;

  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  @include flex($fDirection: column, $gap: 56px, $jContent: center);
  @media screen and (max-width: 1430px) {
    display: none;
  }
  &__title {
    transition: all 0.6s;
    position: relative;
    color: #222;

    font-family: Rubik;
    font-size: 32px;

    font-weight: 500;
    line-height: normal;
    padding: 0 248px;
    top: 70px;
  }
  &__prjctsContainer {
    position: relative;
    overflow: auto;
    top: 70px;
    @include flex($gap: 12px);
    transition: all 0.6s;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__btnAllPrjctContainer {
    position: relative;
    align-self: flex-end;
    padding-right: 248px;
    display: flex;
    align-items: center;
    gap: 24px;
    opacity: 0;
    visibility: hidden;
    &__animationIn {
      animation: btnsContainerIn 0.6s forwards;
    }
    &__animationOut {
      animation: btnsContainerOut 0.6s forwards;
    }
    & > p {
      color: #222;

      font-family: Karla;
      font-size: 20px;
    }
    &__btnAllImg {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px #222 solid;

      @include flex($aItems: center, $jContent: center);
    }
  }
  &__prjct {
    min-width: 512px;
    flex: 30%;
    border-radius: 32px;
    height: 424px;
    @include flex($fDirection: column, $jContent: space-between);

    &__developersContainer {
      padding: {
        top: 12.5px;
        left: 12px;
      }
      height: 40px;
      @include flex($gap: 4px);
    }
    &__developerItem {
      border-radius: 16px;
      background: rgba(34, 34, 34, 0.1);
      backdrop-filter: blur(10px);
      padding: 0 16px;
      @include flex($aItems: center, $jContent: center);
      & > p {
        color: #fff;

        font-family: Rubik;
        font-size: 12px;
      }
    }
    &__textContainer {
      padding: {
        bottom: 24px;
        left: 24px;
      }
      & > p {
        color: rgba(255, 255, 255, 0.8);

        font-family: Rubik;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
      }
      & > h3 {
        color: #fff;

        font-family: Rubik;
        font-size: 28px;

        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

@keyframes btnsContainerIn {
  0% {
    bottom: -30px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes btnsContainerOut {
  100% {
    bottom: -30px;
    opacity: 0;
    visibility: hidden;
  }
  0% {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}
