@import "../mixins.scss";

.footer {
  padding: 0 172px;
  padding-bottom: 40px;
  @include flex($aItems: center, $jContent: space-between);

  &__navsContainer {
    @include flex($fDirection: column, $gap: 44px, $aItems: center);
  }
  &__navs {
    @include flex($aItems: center);
  }
  &__navItem {
    cursor: pointer;
    font-family: Karla;
    font-size: 16px;

    font-weight: 400;
    &__top {
      color: #222;
      padding: 10px 24px;
    }
    &__bottom {
      color: #c4c4c4;
      padding: 0 20px;
    }
  }
  &__social {
    height: 100%;
  }
  &__socialContainer {
    @include flex;
    height: 100%;
  }
  &__socialItem {
    padding: 12px;
  }
}
@media screen and (max-width: 1430px) {
  .footer {
    padding-left: 64px;
    padding-right: 64px;
    &__navItem__top,
    &__navItem__bottom {
      font-size: 14px;
    }
    & > img {
      width: 76.8px;
      height: 64px;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
    & > img {
      width: 48px;
      height: 40px;
      flex-shrink: 0;
    }
    &__navsContainer {
      gap: 28px;
    }
    &__navItem__bottom {
      padding: 0 12px;
    }
    &__navItem__top {
      padding: 0 15px;
    }
  }
}
