@import "../mixins.scss";

.isNotAll {
  position: relative;
  height: 100vh;
  transition: all 0.6s;
  opacity: 1;
  visibility: visible;
  @include flex($jContent: center, $fDirection: column, $gap: 160px);
  @media screen and (max-width: 1430px) {
    display: none;
  }
  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  &__titleContainer {
    transition: all 0.5s;
    @include flex($fDirection: column, $gap: 16px);
    & > h2 {
      color: #222;
      text-align: center;
      font-family: Rubik;
      font-size: 80px;

      font-weight: 500;
    }
    & > p {
      color: #222;
      text-align: center;

      font-family: Rubik;
      font-size: 20px;

      font-weight: 400;
    }
    &__activeStage1 {
      transform: translateY(-100%);
    }
    &__activeStage2 {
      transform: translateY(-350%);
      opacity: 0;
      visibility: hidden;
    }
  }
  &__content {
    width: 100%;
    padding: 0 248px;
    flex-wrap: wrap;
    display: none;
    position: absolute;
  }
  &__item {
    opacity: 0;
    transform: translateY(200%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    &__activeStage1 {
      opacity: 1;
      transform: translateY(120%);
    }
    &__activeStage2 {
      transform: translateY(0);
    }
    &__activebottomItems {
      opacity: 1;
      transform: translateY(0);
    }
    @include flex($fDirection: column, $gap: 48px, $aItems: center);
    &__imgContainer {
      width: 80px;
      height: 80px;
      border-radius: 20px;
      background: linear-gradient(207deg, #fbfbfb 2.8%, #fff 89.69%);
      @include flex($aItems: center, $jContent: center);
    }
    &__textContainer {
      @include flex($fDirection: column, $gap: 8px);
      & > h3 {
        text-align: center;
        color: #222;

        font-family: Rubik;
        font-size: 24px;

        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.24px;
      }
      & > p {
        width: 432px;
        color: #222;
        text-align: center;

        font-family: Karla;
        font-size: 20px;

        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
