@import "../mixins.scss";
.paymentPlan {
  height: 100vh;
  transition: all 0.6s;
  opacity: 1;
  visibility: visible;
  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  @media screen and (max-width: 1430px) {
    opacity: 1;
    visibility: visible;
  }
  @include flex($fDirection: column, $gap: 56px, $jContent: center);
  &__title {
    position: relative;
    bottom: -270px;
    transition: all 0.6s;
    color: #222;
    text-align: center;
    font-family: Rubik;
    font-size: 40px;

    font-weight: 500;
  }
  &__plansAndtextContainer {
    @include flex($gap: 20px, $fDirection: column);
  }
  &__oneTimePayment {
    position: relative;
    bottom: -270px;
    transition: all 0.6s;
    & > p {
      color: #717171;
      text-align: center;

      font-family: Karla;
      font-size: 16px;

      line-height: 22px;
    }
    @include flex($aItems: center, $gap: 8px, $jContent: center);
    &__dot {
      width: 6px;
      height: 6px;
      background-color: #b6b6b6;
      border-radius: 50%;
    }
  }
  &__plansContainer {
    position: relative;
    bottom: -270px;
    transition: all 0.6s;
    @include flex($gap: 12px, $jContent: center);
  }
  &__planItem {
    min-width: 320px;
    border-radius: 20px;
    border: 1px solid rgba(241, 241, 241, 0);
    background: rgba(255, 255, 255, 0.8);
    padding: 40px 32px;
    transition: all 0.2s;
    @include flex($fDirection: column, $gap: 32px, $jContent: space-between);
    &:hover {
      background: #fff;
      @include boxShadow(0px 0px 25px 0px rgba(255, 153, 109, 0.2));
      .paymentPlan__planItem__btnGetStarted {
        opacity: 1;
        visibility: visible;
      }
    }
    &__textContainer {
      @include flex($fDirection: column, $gap: 24px);
      & > h3 {
        color: #222;
        text-align: center;
        font-family: Rubik;
        font-size: 20px;

        font-weight: 400;
        line-height: 120%;
      }
    }
    &__titleContainer {
      @include flex($fDirection: column, $gap: 40px);
    }
    &__btnGetStarted {
      opacity: 0;
      visibility: hidden;
      height: 56px;
      border-radius: 40px;
      background: #222;
      color: #fff;
      text-align: center;

      font-family: Karla;
      font-size: 20px;

      transition: all 0.2s;
    }
    &__title {
      & > h4 {
        color: #222;
        text-align: center;
        font-family: Rubik;
        font-size: 40px;

        font-weight: 600;
      }
    }
    &__text {
      color: #717171;
      text-align: center;

      font-family: Karla;
      font-size: 16px;

      line-height: 22px;
    }
    &__advantagesContainer {
      @include flex($fDirection: column, $gap: 16px, $aItems: center);
    }
  }
}
@media screen and (max-width: 1430px) {
  .paymentPlan {
    &__title {
      bottom: 0;
      font-size: 32px;
    }
    &__plansContainer {
      bottom: 0;
    }
    &__oneTimePayment {
      bottom: 0;
    }
    &__plansContainer {
      overflow: auto;
    }
  }
}
@media screen and (max-width: 982px) {
  .paymentPlan {
    &__plansContainer {
      overflow: auto;
      justify-content: unset;
    }
  }
}
@media screen and (max-width: 767px) {
  .paymentPlan {
    overflow: hidden;
    &__title {
      font-size: 24px;
    }
    &__plansContainer {
      padding: 0;
      height: 500px;
      align-items: center;
    }
    &__oneTimePayment {
      & > p {
        font-size: 14px;
      }
    }
    &__planItem {
      height: 467px;
      gap: 24px;
      @include boxShadow(0px 0px 25px 0px rgba(113, 113, 113, 0.1));
      &__titleContainer {
        gap: 24px;
      }
      &__title {
        & > h4 {
          font-size: 28px;
        }
        & > p {
          font-size: 14px;
        }
      }
      &__textContainer {
        gap: 16px;
        & > h3 {
          font-size: 18px;
        }
      }
      &__advantagesContainer {
        & > p {
          font-size: 14px;
        }
      }
      &__btnGetStarted {
        height: 48px;
        font-size: 16px;
        flex-shrink: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
