@import "../mixins.scss";

.weOfferYou {
  height: 100vh;
  @include flex(
    $aItems: center,
    $jContent: center,
    $gap: 80px,
    $fDirection: column
  );
  transition: all 0.6s;
  opacity: 1;
  visibility: visible;
  @media screen and (max-width: 1430px) {
    display: none;
  }
  &__hidden {
    opacity: 0;
    visibility: hidden;
  }
  & > h2 {
    color: #222;
    text-align: center;
    font-family: Rubik;
    font-size: 40px;

    font-weight: 500;
    line-height: 120%;

    width: 509px;
  }
  &__content {
    width: 100%;
    height: 300px;
    padding: 0 248px;
    @include flex($gap: 174px);
  }
  &__leftSideContainer,
  &__leftSideContainerSecondStage,
  &__leftSideContainerThirdStage {
    flex: 60%;
    @include flex($fDirection: column, $jContent: space-between);
    &__text {
      color: #717171;

      font-family: Karla;
      font-size: 20px;

      font-weight: 400;
      line-height: 24px;
      opacity: 0;
      visibility: hidden;

      &__leftSideDiagramTextIn {
        animation: leftSideDiagramTextIn 0.6s forwards;
        animation-delay: 1.5s;
      }
      &__leftSideDiagramTextOut {
        animation: leftSideDiagramTextOut 0.6s forwards;
      }
    }
    &__topContainer {
      @include flex($fDirection: column, $gap: 40px);
      &__title {
        position: relative;
        color: #222;

        font-family: Rubik;
        font-size: 24px;

        font-weight: 500;
        line-height: 120%;
        transition: all 0.6s;
        top: -30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s;
        &__leftSideDiagramTitleIn {
          animation: leftSideDiagramTitleIn 0.6s forwards;
          animation-delay: 0.5s;
        }
        &__leftSideDiagramTitleOut {
          animation: leftSideDiagramTitleOut 0.6s forwards;
        }
      }
    }
    &__topCard {
      width: 80px;
      height: 80px;
      border-radius: 20px;
      transition: all 0.6s;
      opacity: 0;
      visibility: hidden;
      background: linear-gradient(207deg, #fbfbfb 2.8%, #fff 89.69%);
      @include boxShadow(-5px 20px 25px rgba(255, 153, 109, 0.1));
      @include flex($aItems: center, $jContent: center);
      &__leftSideDiagramTopCardIn {
        animation: leftSideDiagramTextIn 0.6s forwards;
        animation-delay: 0.5s;
      }
      &__leftSideDiagramTopCardOut {
        animation: leftSideDiagramTextOut 0.6s forwards;
      }
    }
  }
  &__leftSideContainerSecondStage,
  &__leftSideContainerThirdStage {
    display: none;
    &__topCard {
      @include boxShadow(-5px 20px 25px rgba(151, 71, 255, 0.1));
    }
    &__item {
      @include boxShadow(0px 15px 15px rgba(34, 34, 34, 0.1));
      z-index: 3;
      position: relative;
      width: 368px;
      padding: 10px;
      border-radius: 15px;
      border: 1px solid #f1f1f1;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      @include flex($fDirection: column, $gap: 8px);

      &__animationFirstIn {
        animation: leadCardFirstIn 0.6s forwards;
        animation-delay: 0.5s;
      }
      &__animationFirstOut {
        animation: leadCardFirstOut 0.5s forwards;
      }

      &__animationSecondIn {
        animation: leadCardSecondIn 0.6s forwards;
        animation-delay: 0.5s;
      }
      &__animationSecondOut {
        animation: leadCardSecondOut 0.5s forwards;
      }
      &__animationThirdIn {
        animation: leadCardSecondIn 0.6s forwards;
        animation-delay: 1.5s;
      }
      &__medium {
        z-index: 2;
        width: 344px;
      }
      &__small {
        z-index: 1;
        width: 320px;
      }
      &__topContainer {
        @include flex($jContent: space-between);
        & > p {
          color: #717171;

          font-family: Rubik;
          font-size: 13px;

          font-weight: 400;
          line-height: 125%;
          letter-spacing: 0.12px;
        }
        &__medium {
          & > p {
            font-family: Rubik;
            font-size: 12px;
          }
        }
        &__small {
          & > p {
            font-family: Rubik;
            font-size: 11px;
          }
        }
      }
      &__leadImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &__medium {
          width: 36px;
          height: 36px;
        }
        &__small {
          width: 34px;
          height: 34px;
        }
      }
      &__leadInfoContainer {
        @include flex($aItems: center, $gap: 6px);
      }
      &__leadTextContainer {
        @include flex($fDirection: column, $gap: 2px);
        & > h3 {
          color: #222;

          font-family: Rubik;
          font-size: 14px;

          font-weight: 400;

          letter-spacing: 0.13px;
        }
        & > p {
          color: #717171;

          font-family: Rubik;
          font-size: 13px;

          font-weight: 400;
          line-height: 125%;
          letter-spacing: 0.12px;
        }
        &__medium {
          & > h3 {
            font-size: 13px;
          }
          & > p {
            font-size: 12px;
          }
        }
        &__small {
          & > h3 {
            font-size: 12px;
          }
          & > p {
            font-size: 11px;
          }
        }
      }
      &__leadBottomContainer {
        padding-left: 42px;
        @include flex($jContent: space-between);
        & > p {
          color: #82bb5f;

          font-family: Rubik;
          font-size: 13px;

          line-height: 125%;
          letter-spacing: 0.11px;
        }
        &__medium {
          & > p {
            font-size: 12px;
          }
        }
        &__small {
          & > p {
            font-size: 11px;
          }
        }
      }
      &__leadRespAndTagsContainer {
        @include flex($fDirection: column, $gap: 5px);
        & > h3 {
          color: #222;

          font-family: Rubik;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;

          letter-spacing: 0.11px;
        }
        &__medium {
          & > h3 {
            font-size: 12px;
          }
        }
      }
      &__leadTagsContainer {
        @include flex($aItems: center, $gap: 5px);
      }
      &__leadTag {
        border-radius: 2px;
        border: 0.5px #e3e3e3 solid;
        padding: 2px 5px;
        color: #717171;

        font-family: Rubik;
        font-size: 12px;

        font-weight: 400;

        letter-spacing: 0.1px;
        &__medium {
          font-size: 11px;
        }
        &__small {
          font-size: 10px;
        }
        @include flex($aItems: center, $jContent: center);
      }
    }
  }
  &__rightSideSecondStage,
  &__rightSideThirdStage {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 7px;
  }
  &__rightSide,
  &__rightSideSecondStage,
  &__rightSideThirdStage {
    position: relative;
    flex: 50%;
  }
  &__rightSideThirdStage {
    &__taskItem {
      position: relative;
      width: 320px;
      padding: 16px;
      border-radius: 15px;
      border: 1px #f1f1f1 solid;

      opacity: 0;
      visibility: hidden;
      background: #fff;
      @include boxShadow(0px 15px 15px rgba(34, 34, 34, 0.1));
      @include flex($fDirection: column, $gap: 12px);

      &__animationFirstTaskIn {
        animation: taskCardFirstIn 0.6s forwards;
        animation-delay: 0.5s;
      }
      &__animationFirstTaskOut {
        animation: taskCardFirstOut 0.6s forwards;
      }
      &__animationLastTaskIn {
        animation: taskCardLastIn 0.6s forwards;
        animation-delay: 1.5s;
      }
      &__animationLastTaskOut {
        animation: taskCardLastOut 0.6s forwards;
      }
    }
    &__taskTopContainer {
      @include flex($gap: 16px);
      & > h3 {
        color: #222;

        font-family: Rubik;
        font-size: 13px;
        font-weight: 400;

        letter-spacing: 0.13px;
      }
    }
    &__taskDeadLineAndImgContainer {
      @include flex($aItems: center, $gap: 16px);
      & > img {
        border-radius: 50%;
      }
      &__deadLineStatus {
        font-family: Rubik;
        font-size: 11px;
        font-weight: 400;

        letter-spacing: 0.11px;
        &__green {
          color: #82bb5f;
        }
        &__red {
          color: #fe5757;
        }
      }
    }
    &__taskBottomContainer {
      @include flex($aItems: center, $jContent: space-between);
    }
    &__taskPriority {
      height: 24px;
      padding: 4px 12px;

      font-family: Rubik;
      font-size: 11px;

      letter-spacing: 0.11px;
      border-radius: 20px;
      @include flex($aItems: center, $jContent: center);
      &__medium {
        color: #ff993b;
        background: #fff0e2;
      }
      &__high {
        color: #fe5757;
        background: #ffe2e2;
      }
    }
  }
  &__leftSideContainerThirdStage {
    &__topCard {
      @include boxShadow(-5px 20px 25px rgba(59, 179, 231, 0.1));
    }
  }
  &__diagramFirst,
  &__diagramSecond {
    top: 50%;
    left: 50%;
    width: 284px;
    padding: 24px;
    border-radius: 15px;
    border: 1px #f1f1f1 solid;
    background-color: white;
    @include flex($fDirection: column);
    @include boxShadow(-4px 0px 15px 0px rgba(113, 113, 113, 0.1));
  }
  &__diagramTitleContainer {
    @include flex($fDirection: column, $gap: 12px);
    & > h3 {
      color: #222;
      font-family: Rubik;
      font-size: 16px;

      font-weight: 400;

      letter-spacing: 0.16px;
    }
    &__bottom {
      @include flex($fDirection: column, $gap: 4px);
      & > h4 {
        color: #222;

        font-family: Rubik;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.38px;
      }
      & > p {
        color: #717171;
        font-family: Rubik;
        font-size: 10px;

        letter-spacing: 0.1px;
      }
    }
  }
  &__diagramBottomContainer {
    @include flex($fDirection: column, $gap: 12px);

    &__itemsContainer {
      @include flex($fDirection: column, $gap: 8px);
    }
    &__diagram {
      align-self: flex-end;
      width: 128px;
      height: 128px;
    }
    &__item {
      color: #717171;

      font-family: Rubik;
      font-size: 12px;

      letter-spacing: 0.12px;
      @include flex($aItems: center, $gap: 4px);
    }
    &__idicator {
      width: 14px;
      height: 9px;
      border-radius: 120px;
      &__orange {
        background: #eeb445;
      }
      &__mediumOrange {
        background: rgba(238, 180, 69, 0.5);
      }
      &__lightOrange {
        background: rgba(238, 180, 69, 0.1);
      }
    }
  }
  &__diagramFirst {
    z-index: 1;

    transform: translate(-30%, -30%);
    position: absolute;

    opacity: 0;
    visibility: hidden;

    &__animationIn {
      animation: diagramFirstIn 1.3s forwards;
      animation-delay: 0.5s;
    }
    &__animationOut {
      animation: diagramFirstInOut 1s forwards;
    }
  }
  &__diagramSecond {
    transform: translate(-57%, -50%);
    position: absolute;

    opacity: 0;
    visibility: hidden;

    &__animationIn {
      animation: diagramSecondtIn 0.5s forwards;
      animation-delay: 1.5s;
    }
    &__animationOut {
      animation: diagramSecondInOut 1s forwards;
    }
  }
}

@keyframes leftSideDiagramTitleIn {
  0% {
    top: -30px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes leftSideDiagramTitleOut {
  100% {
    top: -30px;
    opacity: 0;
    visibility: hidden;
  }
  0% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leftSideDiagramTextIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes leftSideDiagramTextOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  0% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes diagramSecondtIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-57%, -50%) rotate(-2deg);
  }
}
@keyframes diagramSecondInOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  0% {
    opacity: 1;
    visibility: visible;
    transform: translate(-57%, -50%) rotate(-2deg);
  }
}

@keyframes diagramFirstIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  70% {
    opacity: 1;
    visibility: visible;
    transform: translate(-30%, -30%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-30%, -30%) rotate(3.463deg);
  }
}
@keyframes diagramFirstInOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
  10% {
    opacity: 1;
    visibility: visible;
  }
  0% {
    opacity: 1;
    visibility: visible;
    transform: translate(-30%, -30%) rotate(3.463deg);
  }
}

@keyframes leadCardFirstIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leadCardFirstOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes leadCardSecondIn {
  0% {
    opacity: 0;
    visibility: hidden;
    top: -20px;
  }
  100% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes leadCardSecondOut {
  0% {
    top: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    top: -20px;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes taskCardFirstIn {
  0% {
    right: -40px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes taskCardFirstOut {
  100% {
    right: -40px;
    opacity: 0;
    visibility: hidden;
  }
  0% {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes taskCardLastIn {
  0% {
    right: -100px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    right: -50px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes taskCardLastOut {
  100% {
    right: -100px;
    opacity: 0;
    visibility: hidden;
  }
  0% {
    right: -50px;
    opacity: 1;
    visibility: visible;
  }
}
