@mixin flex($gap: 0, $fDirection: row, $aItems: null, $jContent: null) {
  @if $aItems {
    align-items: $aItems;
  }

  @if $jContent {
    justify-content: $jContent;
  }
  & {
    display: flex;
    flex-direction: $fDirection;
    gap: $gap;
  }
}

@mixin boxShadow($shadow) {
  & {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
  }
}
